*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica", "Arial Narrow", Arial, sans-serif;
}

:root {
  --hue-neutral: #25242a;
  --hue-neutral--light: #25242af3;
  --hue-neutral--dark: #18171b;
  --hue-wrong: #b40e0e;
  --hue-correct: #22a148;
  --hue-font: #ffffff;
}

body {
  background-color: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

body.correct {
  background-color: var(--hue-correct);
}

body.wrong {
  background-color: var(--hue-wrong);
}

.container {
  height: 27rem;
  width: 27rem;
  background-color: var(--hue-font);
  border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.5rem 0.5rem 0.7rem rgba(0, 0, 0, 0.63);
          box-shadow: 0.5rem 0.5rem 0.7rem rgba(0, 0, 0, 0.63);
  font-weight: bold;
}

.container__questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__questions--question {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  padding: 0 2rem;
}

.container__answers {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__answers--btn {
  padding: 3rem;
  margin: 0.5rem;
  font-weight: bold;
  font-size: 1.32rem;
  border-radius: 1.15rem;
}

.container__controls--btn {
  padding: 0.6rem 1rem;
  margin: 0 1.5rem;
  width: 8rem;
  border-radius: 50rem;
  font-weight: bold;
  font-size: 1rem;
}

.container .btn {
  border: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: var(--hue-neutral);
  color: var(--hue-font);
}

.container .btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0.1rem 0.1rem 0.3rem var(--hue-neutral);
          box-shadow: 0.1rem 0.1rem 0.3rem var(--hue-neutral);
  background-color: var(--hue-neutral--light);
}

.container .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: var(--hue-neutral);
}

.container .btn:focus {
  outline: none;
}

.container .correct {
  background-color: var(--hue-correct);
}

.container .wrong {
  background-color: var(--hue-wrong);
}

.container .hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */